.signup-header
  %h1.logo
    %img{:alt => "", :src => "img/mercari_logo.png"}/
  .signup-bar
    %ol.signup-lists
      %li.signup-list
        会員情報
        .list-round-left.active-round
      %li.signup-list
        電話番号認証
        .list-round-complete.active-round
      %li.signup-list
        お届け先住所入力
        .list-round-complete.active-round
      %li.signup-list
        支払い方法
        .list-round-complete.active-round
      %li.signup-list.active-title
        完了
        .list-round-right.active-round
.signup-main
  .main-contents
    .main-contents-title 会員登録完了
    .form-group
      %p ありがとうございます。
      %p 会員登録が完了しました。
    .form-group
      %button.next-button{:type => "submit"} メルカリをはじめる
.signup-footer
  %p.footer-links
    %a.footer-link{:href => "#"} プライバシーポリシー
    %a.footer-link{:href => "#"} メルカリ利用規約
    %a.footer-link{:href => "#"} 特定商取引に関する表記
  %img.footer-img{:src => "img/logo-gray.svg"}/
