// 西田 ヘッダー
.header {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  padding: 8px 0 0;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(204, 204, 204);
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  z-index: 3;
  position: relative;

  .content {
    width: 1020px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    position: relative;
    &__image {
      margin-right: 45px;
      height: 36px;
    }
  }
    .input-default {
      float: left;
      width: 841px;
      height: 40px;
      padding: 0 42px 0 10px;
      background-color: #f5f5f5;
      font-size: 16px;
      line-height: 40px;
      outline: none;
      border-width: 1px;
      border-style: solid;
      border-radius: 4px;
      border-color: rgb(204, 204, 204);
    }
    .search-box {
      position: absolute;
      display: flex;
      right: 0;
      top: 0;
      height: 40px;
      width: 40px;
      align-items: center;
      justify-content: center;
    }

.icon-search {
  color: black;
}

  .nav{
    margin: 0 auto;
    padding: 8px 0 0;
    width: 1020px;
    display: flex;
    justify-content: space-between;
    .nav-left {
      display: flex;
      &__cate{
        height: 44px;
        padding: 0 11px 0 0;
        font-size: 14px;
        line-height: 36px;
        .list-btn {
          color: rgb(234, 53, 45);
          margin-right: 4px;
        }
      }
      &__bland{
        height: 44px;
        padding: 0 0 0 11px;
        font-size: 14px;
        line-height: 36px;
      .tag-btn {
        color: rgb(234, 53, 45);
        margin-right: 4px;
      }
      }
    }
    .nav-right{
      display: flex;
      &__like {
        height: 44px;
        padding: 0 14px 0 0;
        font-size: 14px;
        line-height: 36px;
        .heart-btn {
          margin-right: 10px;
          color: rgb(204, 204, 204);
        }
      }
      &__info {
        height: 44px;
        padding: 0 14px;
        font-size: 14px;
        line-height: 36px;
        .bell-btn {
          margin-right: 10px;
          color: rgb(204, 204, 204);

        }
      }
      &__todo {
        height: 44px;
        padding: 0 14px;
        font-size: 14px;
        line-height: 36px;
        .check-btn {
          margin-right: 10px;
          color: rgb(204, 204, 204);
        }
      }
      &__mypage {
        height: 44px;
        padding: 0 0 0 14px;
        font-size: 14px;
        line-height: 36px;
        .user-circle-btn {
          margin-right: 10px;
          color: rgb(204, 204, 204);
        }
      }
    }
  }
}

.pc-header-menu-link {
  text-decoration: none;
  color: black;
}

// 上田 フッター ＆出品ボタン
.footer {
  width: 100%;
  padding: 0 20px 10px;
  background-color: rgb(34, 34, 34);
  font-family: Arial,'游ゴシック体','YuGothic','メイリオ','Meiryo',sans-serif;
}

.footer-contents{
  width: 1020px;
  color: #fff;
  display: flex;
  margin: 0 auto;
  &__title{
    font-size: 16px;
    font-weight: bold;
  }
  &__item{
    margin-top: 18px;
    padding-right: 40px;
    width: auto;
  }
  &__lists{
    &__list{
      font-size: 12px;
      margin-top: 16px;
      height: 16px;
    }
    &__icon{
      margin-top: 30px;
      display: inline-block;
    }
  }
}

.privacy-service-item{
  width: 43%;
}

.privacy-service{
  display: flex;
  &__privacy{
    width: 50%;
    padding: 0 10px 0 0;
  }
  &__service{
    padding: 0 0 0 10px;
  }
}

.footer-list-detail{
  color: #dcdcdc;
  text-decoration: none;
}

.footer-list-detail:hover{
  text-decoration: underline;
}

.footer-icon{
  &--twitter{
    color: #fff;
    font-size: 32px;
    margin-right: 20px;
  }
  &--facebook{
    color: #fff;
    font-size: 32px;
  }
}

.footer-copyright{
  width: 1020px;
  margin: 30px auto 20px;
  display: flex;
  &__developer{
    width: 75%;
    color: #FFF;
    font-size: 12px;
    text-align: center;
    line-height: 33px;
    padding-left: 15px;
  }
}

.display-btn{
  font-family: Arial,'游ゴシック体','YuGothic','メイリオ','Meiryo',sans-serif;
  bottom: 32px;
  right: 32px;
  font-size: 22px;
  height: 160px;
  width: 160px;
  position: fixed;
  text-align: center;
  z-index: 2;
  &--link{
    text-decoration: none;
  }
  &__detail{
    height: 100%;
    width: 100%;
    color: #FFF;
    background-color: rgb(234, 53, 45);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &--text{
      font-size: 22px;
    }
    &--icon{
      font-size: 54px;
    }
  }
}