@import "./reset";
@import "font-awesome";
@import "header";
@import "footer";
@import "display_btn";
@import "users/show";
@import "users/side-bar";
@import "users/profile";
@import "users/address";
@import "users/credit";
@import "users/mail_password";
@import "users/preview";
@import "users/sms_confirmation";
@import "users/logout";
@import "products/index";
@import "products/new";
@import "products/banner";
@import "products/delete";
@import "products/show";
@import "products/search";
@import "products/buy_confirmation";
@import "products/buy";
@import "devise/registrations/new";
@import "devise/registrations/signup";
@import "devise/registrations/signup_header";
@import "devise/registrations/signup_footer";
@import "devise/sessions/sessions";
@import "categories/index";
@import "categories/show";
@import "nav";
@import "slick-theme"; 

* {
    box-sizing: border-box;
  }
a{
  text-decoration: none;
}

.clearfix{
  content: '';
  display: block;
  clear: both;
}
