.header 
  = render 'layouts/header'

.contents
  .img-slider
    .img
  .popular-category-nav
    .upper
      人気カテゴリー
    .lower
      .ladys
        .ladys-box
          レディース
      .mens
        .mens-box
          メンズ
      .products
        .products-box
          家電・スマホ・カメラ
      .hobby
        .hobby-box
          おもちゃ・ホビー・グッズ
  .categorys
    中口（カテゴリー）
  .banner
  .footer
    上田（フッター・出品ボタン）
