.product-search-wrapper
  .header
    = render "layouts/header"

  .product-search-main


  .app-banner
    = render "layouts/banner"

  .footer
    = render "layouts/footer"
  .display-btn
    = render "layouts/display_btn"